.carry-on-button {
  position: fixed;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  background-color: rgba(225, 225, 225, 0.2);
  color: white;
  border: none;
  font-family: 'Tektur', cursive;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 225, 255, 0.2);
}

.carry-on-button {
  /* ... (kode lainnya tetap sama) */
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.carry-on-button:hover {
  background-color: rgba(0, 0, 255, 0.0);
  box-shadow: rgba(225, 225, 225, 0.3);
}
.show-button {
  opacity: 1;
}

.login-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(225, 225, 225, 0.5);
}

.login-container.hidden {
  display: block;
}

.login-container:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 255, 0.8);
  background-color: rgba(225, 225, 225, 0.09);
  animation: colorful22Shadow 15s infinite;
}

.login-container h2 {
  font-size: 22px;
  text-align: center;
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
}
.login-container h1 {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.login-container h3 {
  text-align: center;
  color: white;
  font-family: 'Tektur', cursive;
  font-size: 10px;
}

.login-container input {
  width: 85%;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  border: 1px solid #8a8a8a;
  border-radius: 10px;
  box-shadow: 1px 3px 8px #7d7d7d;
}

.login-container input:hover {
  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 0 0 50px green;
}

.login-container button {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 80, 179, 0.5);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px white;
  font-family: 'Tektur', cursive;
}

.login-container button:hover {
  background-color: #0c24c4 ;
  box-shadow: 0 5px 10px white;
}

#message {
  color: red;
  text-align: center;
  font-family: 'Tektur', cursive;
}

@keyframes colorful22Shadow {
      0% { box-shadow: 0 10px 20px rgba(255, 140, 0, 0.9); }
      20% { box-shadow: 0 10px 20px rgba(139, 0, 0, 0.9); }
      40% { box-shadow: 0 10px 20px rgba(255, 69, 0, 0.9); }
      60% { box-shadow: 0 10px 20px rgba(0, 0, 139, 0.9); }
      80% { box-shadow: 0 10px 20px rgba(245, 245, 245, 0.9); }
      100% { box-shadow: 0 10px 20px rgba(192, 192, 192, 0.9); }
      }
    @keyframes colorChange {
      0% { background-position: 0%; }
      50% { background-position: 100%; }
      100% { background-position: 0%; }
            }